
.popular-filter {
width: 80px;
  transition: border 0.2s, background-color 0.2s;
  position: relative;
  flex: 0 0 auto;
  height: 88px;
  background-color: #434343;
  border-radius: 6px;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 0 0 0;
  cursor: pointer;
  box-sizing: border-box;
}

.filter-icon {
  font-size: 38px;
  color: white;
  margin-top: 8px;
  margin-bottom: auto;
}

.filter-label {
  font-size: 12px;
  font-weight: 200;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  user-select: none;
}

.popular-filter.active {
  border: 1px solid #e6fa4d;
  background-color: #1111;
}

.popular-filter.active .filter-icon,
.popular-filter.active .filter-label {
  color: #e6fa4d;
}
