.homepage-gradient {
    position: relative;
    background-color: #111111;
    min-height: 100vh;
    overflow: hidden;
}

.light-overlay {
    position: absolute;
    top: -600px;
    left: 0px;
    width: 1400px;
    height: 1400px;
    background: radial-gradient(circle at top left, #e6fa4dc4 0%, transparent 70%);
    z-index: 0;
    pointer-events: none;
}
.light-overlay-bottom {
    position: absolute;
    top: 50px;
    right: 0;
    width: 700px;
    height: auto;
    z-index: 0;
    pointer-events: none;
}


.content-wrapper {
    position: relative;
    z-index: 1;
}

/* Estructura general */

.main-content {
    width: 100%;
}


/* Hero Section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px 0 256px 0;
}
.hero-text{
    display: flex;
    flex-direction: column;
    max-width: 572px;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 8px;

    background: linear-gradient(135deg, #E6FA4D 30%, #CACACA 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.description {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 40px 0;
}

.call-to-action{
    background-color: #E6FA4D;
    color: #111111;
    font-weight: 500;
    font-size: 20px;
    border-radius: 6px;
    border: none;
    padding: 10px 0;
}
.call-to-action:hover{
    cursor: pointer;
    background-color: #E6FA4D;
}

.invitation-text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}
.invitation-text-section .invitation-text{
    font-weight: 600;
    font-size: 32px;
    margin: 0;
}
.invitation-text-section .subscribe-text{
    font-weight: 100;
    font-size: 20px;
    max-width: 690px;
    margin: 0;
}
/* Filtros y Búsqueda */
.search-bar-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar-wrapper svg {
    position: absolute;
    left: 15px;
    fill: #fefefe;
    z-index: 1;
}

.search-bar {
    padding: 15px 15px 15px 50px; /* Espacio para el icono a la izquierda */
    background-color: #434343;
    border: none;
    outline: none;
    color: #fefefe;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    width: 100%;
}

.search-bar::placeholder {
    color: #fefefe;
    font-size: 16px;
}

.filters-container {
    display: flex;
    justify-content: start;
    gap: 8px;
    flex-wrap: wrap;
}
.popular-filters-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 12px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  cursor: grab;
  width: 100%;
}

.popular-filters-container:active {
  cursor: grabbing;
}

.popular-filters-container::-webkit-scrollbar {
  display: none;
}

.popular-filters-text{
    margin: 0;
}

/* Grid de Productos */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}
/* Estilos para los botones de selección de búsqueda */

.search-mode {
    display: flex;
    align-items: center;
    gap: 0;
}

.toggle-button {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    flex-grow: 1;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    padding: 15px;
}
/* Botón izquierdo: sin border-radius en la derecha */
.toggle-button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Botón derecho: sin border-radius en la izquierda */
.toggle-button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.toggle-button.active {
    background-color: #E6FA4D;
    color: #111111;
    outline: none;
}

.toggle-button.inactive {
    background-color: #434343;
    color: white;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0 20px 0;
}

.pagination-controls button {
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    border-radius: 6px;
    color: #CACACA;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-controls button:disabled {
    cursor: not-allowed;
}

.pagination-controls span {
    font-size: 12px;
    color: #CACACA;
}

