.product-page-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    align-items: flex-start;
}

.product-page-image {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-page-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.placeholder {
    font-size: 0.9rem;
    color: #888;
}

.product-page-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.add-to-cart {
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.add-to-cart:hover {
    background-color: #333;
}
.product-quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.product-quantity-control button {
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 6px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}



.product-quantity-control span {
    min-width: 20px;
    text-align: center;
    font-size: 1rem;
}
.checkbox-field {
  display: flex;
}

.custom-checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fefefe;
  font-weight: 300;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.custom-checkbox-label input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.custom-checkbox {
  width: 18px;
  height: 18px;
  background-color: #1e1e1e;
  border: 2px solid #E6FA4D;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  display: inline-block;
  position: relative;
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #E6FA4D;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox-label input:checked + .custom-checkbox::after {
  display: flex;
  align-items: center;
  justify-content: center;
}
