/* Estilos generales para fondo oscuro */
.shop-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.shop-left-column {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
}

.shop-main-image-wrapper {
  position: relative;
  width: 100%;
  max-width: 465px;
}

.shop-page-image {
  width: 100%;
  height: 753px;
  background-color: #ddd;
}

.shop-favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #0000008c;
  border: none;
  cursor: pointer;
  padding: 10px 10px 6px 10px;
  border-radius: 50%;
}

.shop-favorite-icon {
  font-size: 32px;
  color: #cacaca;
}

.shop-favorite-icon.active {
  color: #e6fa4d;
}

.shop-thumbnails {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.thumbnail {
  width: 100px;
  height: 156px;
  overflow: hidden;
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop-right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shop-info h2,
.shop-product-list-container h2 {
  display: flex;
  color: #f1f1f1;
  font-size: 32px;
  font-weight: 500;
  justify-content: baseline;
}
.shop-tag {
  background-color: #434343;
  color: #fefefe;
  font-size: 0.75rem;
  padding: 6px 10px;
  border-radius: 4px;
  font-weight: 400;
}

.shop-filters-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.shop-product-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.shop-product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  background-color: #434343;
  cursor: pointer;
}

.shop-product-details {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.shop-product-image {
  width: 90px;
  height: 90px;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop-product-info h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #fefefe;
}

.shop-product-info p {
  margin: 0;
  color: #fefefe;
  font-weight: 300;
  font-size: 12px;
}

.shop-product-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap:30px;
  justify-content: space-between;
}

.shop-action-button {
  background-color: #111111;
  color: #e6fa4d;
  border: none;
  padding: 0 8px;
  font-size: 24px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
}

.shop-quantity-control {
  display: flex;
  gap: 6px;
  align-items: center;
}

.placeholder {
  font-size: 0.8rem;
  color: #888;
}

@media (max-width: 900px) {
  .shop-grid {
    grid-template-columns: 1fr;
  }

  .shop-main-image-wrapper,
  .shop-thumbnails {
    max-width: 100%;
  }

  .shop-product-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .shop-product-price {
    align-items: flex-start;
  }

  .shop-product-details {
    width: 100%;
  }
}